.site-header {
  background: #fff;

  &__inner {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 18px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-wrap {
    display: flex;
    align-items: center;
    margin-right: 50px;

    @include xs-down {
      margin-right: 20px;
    }
  }

  &__logo {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  /* !!!!!!!!!!!!!! USER MENU !!!!!!!!!!!!!!!!!!! */

  &__profile-wrap {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 44px !important;
    height: 44px !important;
  }

  &__avatar-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 0;
  }

  &__books-list {
    margin-bottom: 24px;
  }

  &__book {
    margin-bottom: 20px;
  }

  &__user-info {
    margin-left: 25px;
    flex-shrink: 0;
  }

  &__mobile-user-nav {
    width: 100% !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }

  /*!!!!!!!!!!!!!!!!! BASKET !!!!!!!!!!!!!!!!!!!!!!! */
  &__basket {
  }

  &__icon-wrapper {
    position: relative;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: flex-end;
  }

  &__basket-list {
    max-height: 300px;
    overflow: auto;
  }

  &__basket-item {
    margin-bottom: 16px;
  }

  &__basket-bottom {
    background: #f9f9f9;
    padding: 15px;
    margin: 0 -17px -17px -17px;
  }

  &__basket-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  /*!!!!!!!!!!!!!!!!  NOTIFICATIONS !!!!!!!!!!!!!!!!!!!!*/

  &__notifications {
    margin-right: 18px;
  }

  &__notification-item {
    margin-bottom: 16px;
  }

  /*!!!!!!!!!!!!!!!!  MESSAGES !!!!!!!!!!!!!!!!!!!!*/

  &__messages {
    margin-right: 18px;
  }

  /****************  LIBRARY  *************/
  &__library {
  }

  /****************  SEARCH  *************/
  &__search-input {
    max-width: 535px;
    width: 100%;
    padding-right: 15px !important;

    .ant-input-prefix {
      margin-right: 16px !important;
    }
  }

  &__search-btn-wrap {
    width: 103px;
  }

  &__search-btn {

  }

  &__search-popover {
    .ant-popover-arrow {
      display: none;
    }

    .ant-popover-inner {
      box-shadow: none;
    }

    .ant-popover-inner-content {
      padding: 0;
    }
  }

  /* !!!!!!!!!!!! OTHER !!!!!!!!!!! */
  &__notifications-count {
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 800;
    font-size: 10px;
    line-height: 20px;
    background: #ea1b4d;
    border-radius: 100%;
    position: absolute;
    top: 3px;
    right: 2px;
  }

  &__overlay {
    border: 1px solid #dce3e4;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.04);
    background: #fff;
    padding: 16px;

    &_user {
      width: 250px;
      padding: 16px 0;
    }

    &_basket {
      width: 430px;
      max-height: 498px;
    }

    &_notifications {
      width: 430px;
    }

    &_my-books {
      width: 224px;
    }

    &_library {
      width: 1046px;
      display: grid;
      grid-template-columns: repeat(5, 180px);
    }

    &_search {
      width: 640px;
      display: flex;
      padding: 0;
      box-shadow: none;
    }
  }

  &__label {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 15px;
    display: block;

    &_primary {
      color: var(--primary-color);
    }

    &_user {
      margin-bottom: 14px;
      padding-left: 15px;
    }

    &_logout {
      margin: 0;
      cursor: pointer;
    }

    &_basket {
      margin-bottom: 16px;
    }

    &_notifications {
      margin-bottom: 16px;
    }

    &_gray {
      color: var(--gray-color);
    }

    &_black {
      color: var(--black-color);
    }

    &_black2 {
      color: var(--black-color);
    }

    &_my-book {
      margin-bottom: 12px;
    }

    &_header-item {
      font-weight: 600;
    }

    &_pointer {
      cursor: pointer;
    }

    &_enter {
      margin-left: 11px;
    }
  }

  &__username {
    padding: 0 15px;
  }

  &__icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    object-fit: none;
    display: block;

    &_search {
      width: 20px;
      height: 20px;
    }
  }

  &__icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include xs-down {
      display: none;
    }

    &_mobile {
      @include xs-down {
        display: flex;
      }
    }
  }

  &__icons-profile {
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    @include xs-down {
      display: flex;
    }
  }

  &__header-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_left {
      max-width: 260px;
      width: 100%;
      margin-right: 15.5%;

      @include lg-down {
        margin-right: 8%;
      }

      @include md-down {
        display: none;
      }
    }

    &_right {
      max-width: 200px;
      width: 100%;
      margin-right: 6.5%;

      @include md-down {
        display: none;
      }
    }
  }

  &__header-item-wrapper {
    display: flex;
    align-items: center;
  }

  &__arrow {
    margin-left: 10px;
    color: #242d33;
    position: relative;
    top: -2px;
  }

  &__modal {
    max-width: 458px;
  }

  /* !!!!!!!!!!!! HAMBURGER !!!!!!!!!!! */
  &__hamburger-wrap {
    display: none;

    @include md-down {
      display: block;
    }
  }

  &__hamburger {
    padding: 15px 15px;
    margin-left: -15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    overflow: visible;
    outline: none;
    z-index: 1000;
  }

  &__hamburger_is-active:hover &__hamburger-inner,
  &__hamburger_is-active:hover &__hamburger-inner:before,
  &__hamburger_is-active:hover &__hamburger-inner:after {
    background-color: #000;
  }

  &__hamburger_is-active &__hamburger-inner,
  &__hamburger_is-active &__hamburger-inner::before,
  &__hamburger_is-active &__hamburger-inner::after {
    background-color: #000;
  }

  &__hamburger-box {
    width: 24px;
    height: 25px;
    display: block;
    position: relative;
  }

  &__hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }

  &__hamburger-inner,
  &__hamburger-inner::before,
  &__hamburger-inner::after {
    transition: 0.3s ease-in-out;
    width: 24px;
    height: 3px;
    background-color: #000;
    border-radius: 1px;
    position: absolute;
  }

  &__hamburger-inner::before,
  &__hamburger-inner::after {
    content: "";
    display: block;
  }

  &__hamburger-inner::before {
    top: -8px;
  }

  &__hamburger-inner::after {
    bottom: -8px;
  }

  &__hamburger:hover &__hamburger-inner,
  &__hamburger:hover &__hamburger-inner:before,
  &__hamburger:hover &__hamburger-inner:after {
    background-color: #000;
  }

  &__hamburger_is-active &__hamburger-inner,
  &__hamburger_is-active &__hamburger-inner:after,
  &__hamburger_is-active &__hamburger-inner:before {
    background-color: #000;
  }

  &__hamburger &__hamburger-box {
    perspective: 80px;
  }

  &__hamburger &__hamburger-inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &__hamburger &__hamburger-inner::before,
  &__hamburger &__hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &__hamburger_is-active &__hamburger-inner {
    background-color: transparent !important;
    transform: rotateX(180deg) rotateY(180deg);
  }

  &__hamburger_is-active &__hamburger-inner::before {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }

  &__hamburger_is-active &__hamburger-inner::after {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }
}




