.author-card {
  width: 100%;
  max-width: 282px;
  flex-shrink: 0;
  background: #ffffff;
  border: 1px solid var(--gray2-color);
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(141, 147, 162, 0.25);
  border-radius: 4px;

  &__wrapper {
    padding: 18px 16px;
  }

  &__subscribe-btn {
    margin-bottom: 12px;
  }

  &__row {
    display: flex;
    align-content: center;
  }

  &__write-message-btn {
    margin-right: 12px;
  }

  &__more-button {
    min-width: 36px;
    max-width: 36px;
    padding: 0 !important;
    display: flex !important;
    justify-content: center;
  }
}
