.chapter-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 13px 16px;
  background: var(--gray2-color);
  box-shadow: 0 1px 2px rgba(53, 63, 72, 0.15);
  border-radius: 2px;
  transition: 0.2s;

  @include xs-down {
    flex-direction: column;
    padding: 13px 8px;
  }

  &:hover {
    box-shadow: 0 3px 5px rgba(53, 63, 72, 0.25);
  }

  &__main {
  }

  &__title {
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #282c2f;
    margin-bottom: 10px;
  }

  &__bottom {
    display: flex;
    align-items: center;

    @include sm-down {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

    @include sm-down {
      margin-left: 0;
    }

    @include xs-down {
      margin-bottom: 15px;
    }
  }

  &__info-block {
    padding: 0 15px;

    &:first-child {
      padding: 0 15px 0 0;
    }

    &:not(:last-child) {
      border-right: 1px solid var(--gray3-color);
    }

    @include xs-down {
      padding: 0  7px;
    }


  }

  &__status-wrap {

    @include sm-down {
      margin-bottom: 25px;
    }
  }

  &__date {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: var(--gray-color);

    span {
      text-decoration: underline dotted var(--gray-color);
    }
  }

  &__chars {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: var(--gray-color);

    span {
      &:after {
        content: " зн.";
      }
    }
  }

  &__readers {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: var(--gray-color);

    &-icon {
      margin-right: 8px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__controls-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: var(--gray2-color);
    outline: none;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 3px;

    &:not(:last-child) {
      margin-right: 25px;
    }

    &:hover {
      background-color: #f3f3f3;
    }

    svg {
      display: block;
    }
  }

  &__controls-menu {
  }

  /* MODAL */
  &__modal-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__modal-label {
    color: var(--gray-color);
    font-size: 13px;
    line-height: 20px;
    font-family: Roboto;

    &_audioSize {
      margin-top: 9px;
    }
  }
}
