.user-card {
  width: 100%;
  max-width: 487px;
  flex-shrink: 0;
  background: #ffffff;
  border: 1px solid #f9f9f9;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(141, 147, 162, 0.25);
  border-radius: 4px;

  &__top {
    //padding: 18px 16px;
  }

  &__middle {
    display: flex;
    justify-content: center;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  &__fake-btn {
    border: 1px solid #d0d9dd;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    padding: 8px 26px 8px 19px;
    display: inline-flex;
    align-items: center;
    color: #282c2f;

    &-icon {
      margin-right: 17px;
    }

    &-text {
    }
  }
}
