.site-checkbox {
  .ant-checkbox {
    margin-right: 12px;
  }

  .ant-checkbox + span {
    padding-left: 0;
  }

  &__row {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__tip {
    color: var(--gray-color);
    font-size: 13px;
    line-height: 20px;
    font-family: Roboto;
  }

  &__title {
    font-size: 14px;
    line-height: 22px;
  }
}
