.book-edit-common {
  max-width: 894px;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;

  @include md-down {
    max-width: 100%;
  }

  &__options {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__wrapper {
    padding: 12px 24px 0 24px;

    @include xs-down {
      padding: 12px 12px 0 12px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: var(--black-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  &__title-input {
    width: 100%;
    max-width: 796px;
  }

  &__edit-title-icon {
    margin-left: 10px;
    cursor: pointer;
  }

  &__ok-icon {
    cursor: pointer;
  }

  &__controls {
    display: flex;
    align-items: center;
    margin-bottom: 31px;

    @include sm-down {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__switch {
    margin: 0 15px !important;
  }

  &__status {
    margin-right: 60px;
    display: flex;

    @include sm-down {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__status-label {
    color: var(--gray-color);
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    &_active {
      color: var(--black-color);
    }
  }

  &__publish-btn {
  }

  &__info {
    background: #f2f2f2;
    padding: 8px 26px 6px 26px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0 0 4px 4px;

    @include xs-down {
      padding: 8px 12px 6px 12px;
      flex-wrap: wrap;
    }
  }

  &__info-wrapper {
    display: flex;
    align-items: center;
    font-family: Roboto;
    margin-right: 53px;

    @include xs-down {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }

  &__info-title {
    margin-right: 6px;
    color: var(--gray-color);
    font-weight: bold;
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__info-value {
    color: var(--black-color);
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
  }
}
