.book-content-preview-modal {
  width: 960px !important;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-content {
    display: flex;
    margin-right: 50px;
  }

  &__header-image {
    flex-shrink: 0;
    width: 42px;
    margin-right: 16px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__header-info {

  }

  &__header-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #282c2f;
    margin-bottom: 2px;
  }

  &__header-co-author {

  }

  &__header-co-author-link {
    font-size: 13px;
    line-height: 20px;
    color: #7f8794;
    margin-right: 3px;
    &:not(:last-child) {
      &:after {
        content: ",";
      }
    }
  }

  &__body {
    height: 600px;
    overflow-y: auto;
    padding-right: 30px;

    h3 {
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      color: var(--gray-color);
      margin-bottom: 24px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
      color: #000000;
      margin-bottom: 25px;
    }
  }

  &__header-btn-wrap {
    margin-right: 50px;
  }

  &__header-status-wrap {
    display: inline;
    margin-left: 14px;
  }

  &__footer {
    position: relative;
    width: 100%;
  }

  &__footer-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__footer-end-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -43px;
    background-color: #FFFFFF;
    padding: 0 25px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--gray-color);
  }

  .ant-modal-footer {
    padding: 30px 35px;
  }


}
