.site-AutoComplete {
  .ant-select {
    width: 100%;
  }

  &__row {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__tip {
    color: var(--gray-color);
    font-size: 13px;
    line-height: 20px;
    font-family: Roboto;
  }

  &__title {
    font-size: 14px;
    line-height: 22px;
  }
}
